.banner
{
    width: 100%;
    height: 80vh;
}

.banner img
{
    width: 100%;
    height: 100%;

}

.textbanner
{
  position: absolute;
  font-size: 32px;
  left: 40%;
  top: 30%;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(13, 34, 4);
}