header
{
    position: fixed;
    width: 100%;
    background-color: #abdadd;
}

.menu, h1
{
    display: flex;
    color: rgb(42, 53, 2);
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1
{
    color: rgb(22, 3, 66);
    margin-top: 20px;
    
}


.menu li
{
    font-size: 32px;
    margin: 1rem;
}


@media(max-width: 760px)
{
    header
    {
        display: none;
        
    }
}